@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf');
  font-display: swap;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-white;
}

:root {
  --theme-font-family-heading: 'Poppins' !important;
  scrollbar-width: none;
}

.input {
  @apply min-h-10
}
