@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Mega';
  src: url('/fonts/lexend/LexendMega-VariableFont_wght.ttf');
  font-display: swap;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-white;
}

:root {
  scrollbar-width: none;
}

:root [data-theme='pinche-app'] {
  --theme-font-family-heading: 'Poppins' !important;
}

:root [data-theme='pinche-neutral'] {
  --theme-font-family-heading: 'Poppins' !important;
}

:root [data-theme='pinche-brutal'] {
  --theme-font-family-heading: 'Lexend-Mega' !important;
}

.input {
  @apply min-h-10
}

.input[type="date"] {
  @apply [&::-webkit-calendar-picker-indicator]:scale-150 [&::-webkit-calendar-picker-indicator]:bg-[url('/Calendar.png')] [&::-webkit-calendar-picker-indicator]:dark:invert
}

.input[type="datetime-local"] {
  @apply [&::-webkit-calendar-picker-indicator]:scale-150 [&::-webkit-calendar-picker-indicator]:bg-[url('/Calendar.png')] [&::-webkit-calendar-picker-indicator]:dark:invert
}

.input[type="datetime"] {
  @apply [&::-webkit-calendar-picker-indicator]:scale-150 [&::-webkit-calendar-picker-indicator]:bg-[url('/Calendar.png')] [&::-webkit-calendar-picker-indicator]:dark:invert
}
